*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    color: white;
    font-size: 30px;
    height: 20vh;
    width: 100vw;
}

/* esse é o main*/
.container{
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    flex-direction: column;
}



/**/
/*ícones dos botões*/
.material-symbols-outlined{

}

/* divs que contem os inputs */
.input-group{
    color: white;

}

/* section que segura os botões(incluindo o limpar) e os inputs*/
.card{
    height: 10vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}


/* div que contem as divs de input*/
.inputs{

}


/*Os botões de função*/
.buttons{

}


/*botão de limpar*/
.btn-clear{
    border-radius: 10px;
    background-color: red;
    align-items: center;

}

/*div que aparece os resultados no final*/
.resultado{
    color: white;
    width: 20vw;
    height: 10vh;
    font-size: 20px;

}