*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

/* esse é o main*/
.container{
    width: 100%;
    max-width: 550px;
    padding: 20px;
}

.header h1{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header h1 span{
    color: lightblue;
}


/*ícones dos botões*/
.material-symbols-outlined{

}

/* divs que contem os inputs */
.input-group{
    display: flex;
    flex-direction: column;
}

/* section que segura os botões(incluindo o limpar) e os inputs*/
.card{
    height: 10vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}


/* div que contem as divs de input*/
.inputs{
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}


/*Os botões de função*/
.buttons{

}


/*botão de limpar*/
.btn-clear{
    border-radius: 10px;
    background-color: red;
    align-items: center;

}

/*div que aparece os resultados no final*/
.resultado{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 20px;
    min-height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

body{
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:white
}